@layer base {
  :root {
    --primary: white;
    --secondary: green;
    --tertiary: blue;

    --sm-gap: 10px;
    --m-gap: 20px;
    --l-gap: 30px;

    --sm-br: 5px;
    --m-br: 10px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "Marcellus SC", system-ui, sans-serif;
    background-color: var(--primary);
    margin: 0;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }
}
