@layer component {
  #book-display {
    background-color: red;
    padding: var(--l-gap);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--m-gap);
  }

  #book-display li {
    background-color: var(--tertiary);
    list-style: none;
  }
}
